.block{
    box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
    &__body{
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        background-color: var(--block-white);
        transition-property: color, background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        p{
            font-family: 'Nunito';
            color: var(--text-dark);
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.02em;
        }
        span{
            color: var(--text-dark);
        }
    }
    &__body.dark{
        background-color: var(--block-dark);
        p{
            color: var(--text-light);
        }
        span{
            color: var(--text-light);
        }
    }
}