.task-modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    &__body{
        width: 700px;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
    }
    &__header{
        display: flex;
        flex-direction: row;
    }
    &__inputs{
        p{
            font-family: 'Nunito';
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            color: $mainText;
        }
        input{
            font-family: 'Nunito';
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: black;
            padding: 8px 15px;
            border-radius: 8px;
            width: 100%;
            transition: all 0.3s ease-in-out;
            border: 1px solid rgba(40, 40, 70, 0.1);
        }
    }
    &__task{
        margin-top: 30px;
        position: relative;
        input{
            margin-top: 10px;
        }
        .warning-task{
            position: absolute;
            transition: all 0.3s ease-in-out;
            bottom: -20px;
            opacity: 0;
            margin-top: 10px;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            color: $colorRed;
            margin-left: 15px;
            &::before{
                content: url(../../../assets/icons/triangle-exclamation-solid.svg);
                position: absolute;
                top: 0;
                left: -15px;
                height: 100%;
                width: 10px;
            }
        }
    }
    &__categories{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        width: 100%;
        justify-content: space-between;
    }
    &__category-item{
        position: relative;
        width: 200px;
        p{
            margin-bottom: 10px;
        }
        &::after{
            content:url(../../../assets/icons/chevron-down.svg);
            position: absolute;
            right: 15px;
            top: 40px;
        }
        &:nth-child(2){
            &::after{
                content: none;
            }
        }
    }
    &__select{
        width: 100%;
        -webkit-appearance: none;
        padding: 8px 15px;
        border-radius: 8px;
        border: 1px solid rgba(40, 40, 70, 0.1);
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
    }
    &__btns{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        button{
            border-radius: 8px;
            font-family: 'Nunito';
            font-weight: 600;
            line-height: 22px;
            color: #fafafa;
            padding: 10px 25px;
        }
    }
    &__btn-cnsl{
        background-color: $colorRed;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: #a53a3a;
        }
    }
    &__btn-sbmt{
        background-color: $mainColor;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: #1b7471;
        }
    }
}

.active{
    opacity: 1;
    pointer-events: all;
}