//<ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Nunito:wght@300;400;600;700&family=Roboto&display=swap');
//<ШРИФТЫ>

//<ПЕРЕМЕННЫЕ>==============================================================================
$maxWidth: 1440;
$maxWidthContainer: 1070; 
$md1: $maxWidthContainer + 12;
$md2: 992;
$md3: 768;
$md4: 490;
:root{
    --bg-light: #F0F0F0;
    --bg-dark: #222831;
    --block-dark: #2C3440;
    --block-white: #FFFFFF;
    --text-dark: #282846;
    --text-light: #F9F9F9;
    --main-color: #29A19C;
    --main-red: #F05454;
}
//<ПЕРЕМЕННЫЕ>==============================================================================

//<ОБНУЛЯЮЩИЙ СПИСОК>==================================================================
@import "./nullstyle.scss";
body {
    font-size: 14px;
    &._lock {
        overflow: hidden;
    }
}
.layout{
    background-color: var(--bg-light);
    transition: all 0.2s ease-in-out;
}
.layout.dark{
    background-color: var(--bg-dark);
}
h1{
    font-family: 'Nunito';
    color: var(--main-color);
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}
h2{
    font-family: 'Nunito';
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 3%;
}
h3{
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
    color: var(--text-dark);
    line-height: 22px;
}
h4{
    font-family: 'Nunito';
    font-size: 20px;
    line-height: 27px;
    color: var(--main-color);
    font-weight: 700;
}
h5{
    font-family: 'Nunito';
    font-size: 12px;
    line-height: 16px;
    color: var(--text-dark);
    font-weight: 600;
    letter-spacing: 2%;
}
//<ОБНУЛЯЮЩИЙ СПИСОК>==================================================================


//<ОБОЛОЧКА>====================================================================================
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
//<ОБОЛОЧКА>====================================================================================

//<КОНТЕЙНЕР>==============================================================================
._container{
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    
    @media (max-width: ($md1+px)) {
        max-width: 970px;
    }

    @media (max-width: ($md2+px)) {
        max-width: 750px;
    }

    @media (max-width: ($md3+px)) {
        max-width: none;
        padding: 0px 30px;
    }
}
//<КОНТЕЙНЕР>==============================================================================

//<ФАЙЛЫ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>================================================================================
@import "../App.scss";
@import "../components/content/sidebar/sidebar.scss";
@import "../components/content/categories/categories-modal.scss";
@import "../components/content/content.scss";
@import "../components/content/progress/progress.scss";
@import "../components/content/task/task.scss";
@import "../components/content/taskmodal/taskmodal.scss";
@import "../components/content/timer/timer.scss";
@import "../components/content/remark/remark.scss";
@import "../components/content/facts/facts.scss";
@import "../components/content/chart/chart.scss";
@import "../components/interface/dots/dots.scss";
@import "../components/interface/block/block.scss";
//<ФАЙЛЫ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>================================================================================

//<ОСНОВНОЙ БЛОК>================================================================================
.page{
    display: flex;
    flex: 1 1 auto;
}
//<ОСНОВНОЙ БЛОК>================================================================================