.content{
    margin-left: 70px;
    &__body{
        padding: 20px 0px;
    }
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
    }
    &__tasks{
        min-width: 565px;
    }
    &__inf{
        min-width: 470px;
        margin-left: 30px;
    }
    &__btn{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fafafa;
        padding: 10px 25px;
        background-color: $mainColor;
        border-radius: 8px;
        transition: all 0.2s ease-in-out;
        span{
            margin-left: 10px;
            font-family: 'Nunito';
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 1%;
        }
        &:hover{
            background-color: #1b7471;
        }
    }
    &__btn-ico{
        font-size: 18px;
    }
    &__delete-btn{
        margin-top: 30px;
        color: #fafafa;
        padding: 10px 25px;
        background-color: $colorRed;
        border-radius: 8px;
        transition: all 0.2s ease-in-out;
        width: 100%;
        span{
            margin-left: 10px;
            font-family: 'Nunito';
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 1%;
        }
        &:hover{
            background-color: #ad3e3e;
        }
    }
}