.task{
    margin-top: 30px;
    &__body{
        box-shadow: 0px 10px 25px rgba(29, 52, 54, 0.08);
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        background-color: white;
    }
    &__title{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__active{
        overflow-y: auto;
        margin-top: 20px;
        height: 240px;
        &::-webkit-scrollbar {
            width: 8px;
            background-color: inherit;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #b4b4b4;
            border-radius: 9em;
        }
    }
    .empty{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: #b4b4b4 dashed 2px;
        width: 100%;
        height: 100%;
        span{
            font-family: 'Nunito';
            color: #b4b4b4;
            font-size: 16px;
            font-weight: 600;
        }
    }
    &__active-item{
        position: relative;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        border: 1px solid rgba(40, 40, 70, 0.1);
        border-radius: 10px;
        cursor: pointer;
        background-color: white;
        transition: all 0.2s ease-in-out;
        button{
            background-color: inherit;
            width: 20px;
            height: 20px;
        }
        &:hover{
            background-color: rgba(41, 161, 156, 0.02);
            .task__input{
                margin-right: 10px;
                opacity: 1;
                width: 20px;
                height: 20px;
                &:checked{
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &:first-child{
            margin-top: 0px;
        }
    }
    &__text-content{
        transition: all 0.2s ease-in-out;
        font-family: 'Nunito';
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $mainText;
        flex: 1 1 auto;
        overflow-x: hidden;
        white-space: nowrap;
    }
    &__edit{
        margin-left: 10px;
        &::before{
            content:url(../../../assets/icons/edit.svg);
            height: 100%;
            width: 100%;
        }
    }
    &__trash{
        margin-left: 10px;
        &::before{
          content: url(../../../assets/icons/trash.svg);
          height: 100%;
          width: 100%; 
        }
    }
    &__complited-title{
        margin-top: 20px;
    }
    &__completed{
        margin-top: 10px;
        overflow-y: auto;
        height: 114px;
        &::-webkit-scrollbar {
            width: 8px;
            background-color: inherit;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #b4b4b4;
            border-radius: 9em;
        }
    }
    &__input{
        display: block;
        appearance: none;
        left: 0;
        opacity: 0;
        cursor: pointer;
        width: 0px;
        height: 0px;
        background-color: inherit;
        transition: all 0.2s ease-in-out;
        border: 1px solid $mainColor;
        border-radius: 4px;
        margin-right: 0px;
        &:checked{
            margin-right: 0px;
            width: 0px;
            height: 0px;
            background-color: $mainColor;
        }
    }
}

.active{
    padding: 0px 10px;
    border-radius: 8px;
    outline: 1px solid $mainColor;
}

.warn{
    outline: 1px solid $colorRed;
}

.inactive{
    display: none;
}

.item-enter {
    opacity: 0;
    margin-top: -40px;
}
.item-enter-active {
    margin-top: 0px;
    opacity: 1;
    transition: all 300ms ease-in-out;
}
.item-exit {
    margin-top: 0px;
    opacity: 1;
}
.item-exit-active {
    margin-top: -40px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.block-enter{
    opacity: 0;
}
.block-enter-active{
    opacity: 1;
    transition: all 300ms ease-in-out;
}
.block-exit{
    opacity: 1;
}
.block-exit-active{
    opacity: 0;
    transition: all 300ms ease-in-out;
}